Source: tuquito-firmware
Section: utils
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-firmware
Architecture: all
Description: Firmwares usados en Tuquito
 Paquete que contiene los firmware usados en Tuquito 4.x
 * Tuquito Team! - 2010
